@model Assignment8_CRUD.Models.Student

@{
    ViewData["Title"] = "Edit Student";
}

<div class="container mt-5">
    <div class="card p-4">
        <h2 class="text-center">Edit Student</h2>

        <form asp-action="Edit" method="post">

            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Course" class="form-label"></label>
                <input asp-for="Course" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Age" class="form-label"></label>
                <input asp-for="Age" class="form-control" />
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary px-4">Update</button>
                <a asp-action="Index" class="btn btn-secondary px-4 ms-2">Back</a>
            </div>

        </form>
    </div>
</div>
